/* The following line can be included in a src/App.scss */

@import '~bootstrap/scss/bootstrap';
@import './custom.scss';

body {
  //   color: white;
}

.App {
  text-align: center;
  background-color: $bg;
  height: 100vh;
  padding: 0 1em;
  color: $blue;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  //   background-color: #313131;
  //   min-height: 5vh;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-view,
.register-view {
  padding: 2em;
}
