/* The following block can be included in a custom.scss */

/*dark-theme variables */
$deep-blue: #033176;
$blue: #013fa7;
$teal: #168ea9;
$green-blue: #36ffbd;
$grey: #313131;
$black: #011914;
$subtle: lighten($grey, 55);

/* light-theme variables */
$bg: white;
$bg-darker: darken($bg, 15);
$primary: #013fa7;
$secondary: #168ea9;
$accent: #36ffbd;
$grey: #313131;
$black: #011914;
$subtle: lighten($grey, 25);

/* make the customizations */
$theme-colors: (
  'primary': $primary,
  'secondary': $green-blue,
  'darker': $bg-darker,
  'dark': $black,
  'grey': $grey,
  'subtle': $subtle,
  'info': #f24e8c,
  'danger': #f25735,
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
